In [ ]:
#notebook for Sp20 Haas SQL next steps

In [35]:
import pandas as pd
import sqlalchemy
!pip install -U pandasql
import pandasql as ps
import sqlite3
import csv

Requirement already up-to-date: pandasql in /srv/conda/envs/data100/lib/python3.6/site-packages
Requirement already up-to-date: numpy in /srv/conda/envs/data100/lib/python3.6/site-packages (from pandasql)
Requirement already up-to-date: pandas in /srv/conda/envs/data100/lib/python3.6/site-packages (from pandasql)
Requirement already up-to-date: sqlalchemy in /srv/conda/envs/data100/lib/python3.6/site-packages (from pandasql)
Requirement already up-to-date: pytz>=2017.2 in /srv/conda/envs/data100/lib/python3.6/site-packages (from pandas->pandasql)
Requirement already up-to-date: python-dateutil>=2.6.1 in /srv/conda/envs/data100/lib/python3.6/site-packages (from pandas->pandasql)
Requirement already up-to-date: six>=1.5 in /srv/conda/envs/data100/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas->pandasql)
You are using pip version 9.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [32]:
import zipfile
from pathlib import Path

Path.cwd()

PosixPath('/home/jovyan')

In [77]:
new_review = pd.read_csv('airbnb_reviews.csv')
con = sqlite3.connect("Airbnbs.db")
new_review.to_sql('reviews5', con)

In [78]:
new_information = pd.read_csv('airbnb_information.csv')
con = sqlite3.connect("AirbnbsInfo.db")
new_information.to_sql('Information2', con)

In [79]:
new_review = review.head(100)
new_review

,room_id,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay
0,4897143.0,93,4.5,4,1,NaN,147,NaN
1,4670847.0,115,4.5,4,1,NaN,137,NaN
2,NaN,xxx,0.0,2,1,NaN,41,NaN
3,18948580.0,xxx,0.0,3,1,NaN,42,NaN
4,NaN,xxx,0.0,1,1,NaN,400,NaN
...,...,...,...,...,...,...,...,...
95,15204367.0,36,5.0,1,1,NaN,47,NaN
96,NaN,5,5.0,1,1,NaN,42,NaN
97,259621.0,98,4.5,4,1,NaN,45,NaN
98,NaN,xxx,0.0,1,1,NaN,50,NaN
99,18737881.0,xxx,0.0,1,1,NaN,45,NaN

In [80]:
new_info = information.head(100)
new_info

,room_id,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay
0,4897143.0,93,4.5,4,1,NaN,147,NaN
1,4670847.0,115,4.5,4,1,NaN,137,NaN
2,13636171.0,xxx,0.0,2,1,NaN,41,NaN
3,NaN,xxx,0.0,3,1,NaN,42,NaN
4,NaN,xxx,0.0,1,1,NaN,400,NaN
...,...,...,...,...,...,...,...,...
95,15204367.0,36,5.0,1,1,NaN,47,NaN
96,NaN,5,5.0,1,1,NaN,42,NaN
97,259621.0,98,4.5,4,1,NaN,45,NaN
98,18567322.0,xxx,0.0,1,1,NaN,50,NaN
99,NaN,xxx,0.0,1,1,NaN,45,NaN

In [81]:
#Select, From, Where
q1 = """SELECT room_id FROM review WHERE overall_satisfaction = 3"""
r1 = pd.read_sql(q1, con)
r1

    room_id
0  18947485
1  12973719

In [82]:
#Group by, Having

In [83]:
#Order by, Limit

In [84]:
#Joins

In [85]:
#Inner Joins

In [92]:
join_review = pd.read_sql("""SELECT * FROM reviews AS r 
    INNER JOIN information AS i ON r.room_id = i.room_id""", con)
join_review.head(50)

,index,room_id,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,index,room_id,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay
0,0,4897143,93,4.5,4,1,None,147,None,0,4897143,93,4.5,4,1,None,147,None
1,1,4670847,115,4.5,4,1,None,137,None,1,4670847,115,4.5,4,1,None,137,None
2,2,13636171,xxx,0.0,2,1,None,41,None,2,13636171,xxx,0.0,2,1,None,41,None
3,3,18948580,xxx,0.0,3,1,None,42,None,3,18948580,xxx,0.0,3,1,None,42,None
4,4,4347535,xxx,0.0,1,1,None,400,None,4,4347535,xxx,0.0,1,1,None,400,None
5,5,6750199,4,5.0,2,1,None,145,None,5,6750199,4,5.0,2,1,None,145,None
6,6,11461771,8,4.0,14,1,None,138,None,6,11461771,8,4.0,14,1,None,138,None
7,7,259622,125,4.5,4,1,None,90,None,7,259622,125,4.5,4,1,None,90,None
8,8,785901,78,4.5,4,1,None,90,None,8,785901,78,4.5,4,1,None,90,None
9,9,786506,83,NaN,4,1,None,90,None,9,786506,83,NaN,4,1,None,90,None
10,10,7343277,47,5.0,4,1,None,95,None,10,7343277,47,5.0,4,1,None,95,None
11,11,7067087,59,NaN,4,1,None,90,None,11,7067087,59,NaN,4,1,None,90,None
12,12,7067681,83,4.5,4,1,None,90,None,12,7067681,83,4.5,4,1,None,90,None
13,13,4902365,87,4.5,4,1,None,90,None,13,4902365,87,4.5,4,1,None,90,None
14,14,12857222,26,4.5,4,1,None,90,None,14,12857222,26,4.5,4,1,None,90,None
15,15,4518031,None,4.5,4,1,None,90,None,15,4518031,None,4.5,4,1,None,90,None
16,16,1711403,None,5.0,4,1,None,95,None,16,1711403,None,5.0,4,1,None,95,None
17,17,4519757,129,4.5,4,1,None,90,None,17,4519757,129,4.5,4,1,None,90,None
18,18,2846662,1,0.0,3,1,None,250,None,18,2846662,1,0.0,3,1,None,250,None
19,19,7528301,1,0.0,1,1,None,250,None,19,7528301,1,0.0,1,1,None,250,None
20,20,14500176,1,NaN,2,1,None,300,None,20,14500176,1,NaN,2,1,None,300,None
21,21,10747952,xxx,0.0,2,1,None,200,None,21,10747952,xxx,0.0,2,1,None,200,None
22,22,11080673,xxx,0.0,2,1,None,200,None,22,11080673,xxx,0.0,2,1,None,200,None
23,23,13558325,xxx,0.0,2,1,None,200,None,23,13558325,xxx,0.0,2,1,None,200,None
24,24,6557381,xxx,0.0,2,1,None,150,None,24,6557381,xxx,0.0,2,1,None,150,None
25,25,8404771,xxx,0.0,1,1,None,150,None,25,8404771,xxx,0.0,1,1,None,150,None
26,26,18961274,xxx,0.0,1,1,None,150,None,26,18961274,xxx,0.0,1,1,None,150,None
27,27,15605179,xxx,0.0,1,1,None,150,None,27,15605179,xxx,0.0,1,1,None,150,None
28,28,3821508,16,5.0,3,1,None,159,None,28,3821508,16,5.0,3,1,None,159,None
29,29,4170452,1,0.0,1,1,None,150,None,29,4170452,1,0.0,1,1,None,150,None
30,30,4081570,xxx,0.0,1,1,None,175,None,30,4081570,xxx,0.0,1,1,None,175,None
31,31,10839934,xxx,0.0,2,1,None,160,None,31,10839934,xxx,0.0,2,1,None,160,None
32,32,9375363,4,4.0,5,1,None,169,None,32,9375363,4,4.0,5,1,None,169,None
33,33,8306266,14,5.0,1,1,None,155,None,33,8306266,14,5.0,1,1,None,155,None
34,34,12433576,4,5.0,2,1,None,139,None,34,12433576,4,5.0,2,1,None,139,None
35,35,6910758,186,5.0,2,1,None,130,None,35,6910758,186,5.0,2,1,None,130,None
36,36,815711,3,5.0,1,1,None,100,None,36,815711,3,5.0,1,1,None,100,None
37,37,9529057,xxx,0.0,1,1,None,105,None,37,9529057,xxx,0.0,1,1,None,105,None
38,38,7419076,xxx,0.0,1,1,None,120,None,38,7419076,xxx,0.0,1,1,None,120,None
39,39,18794629,3,5.0,3,1,None,115,None,39,18794629,3,5.0,3,1,None,115,None
40,40,14610133,5,5.0,1,1,None,80,None,40,14610133,5,5.0,1,1,None,80,None
41,41,11297447,45,5.0,2,1,None,80,None,41,11297447,45,5.0,2,1,None,80,None
42,42,8598745,xxx,0.0,1,1,None,85,None,42,8598745,xxx,0.0,1,1,None,85,None
43,43,8135263,xxx,0.0,1,1,None,100,None,43,8135263,xxx,0.0,1,1,None,100,None
44,44,11638464,1,0.0,1,1,None,100,None,44,11638464,1,0.0,1,1,None,100,None
45,45,16464767,1,0.0,1,1,None,99,None,45,16464767,1,0.0,1,1,None,99,None
46,46,11528376,xxx,0.0,1,1,None,100,None,46,11528376,xxx,0.0,1,1,None,100,None
47,47,8504147,xxx,0.0,2,1,None,100,None,47,8504147,xxx,0.0,2,1,None,100,None
48,48,8037572,87,4.5,2,1,None,81,None,48,8037572,87,4.5,2,1,None,81,None
49,49,19716643,xxx,0.0,1,1,None,99,None,49,19716643,xxx,0.0,1,1,None,99,None

In [52]:
#Left Join

In [70]:
left_join = pd.read_sql(""" SELECT * FROM reviews AS r
                            LEFT JOIN information AS i
                            ON r.room_id = i.room_id""", con)
left_join.head(40)

,index,room_id,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,index,room_id,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay
0,0,4897143,93,4.5,4,1,None,147,None,0,4897143,93,4.5,4,1,None,147,None
1,1,4670847,115,4.5,4,1,None,137,None,1,4670847,115,4.5,4,1,None,137,None
2,2,13636171,xxx,0.0,2,1,None,41,None,2,13636171,xxx,0.0,2,1,None,41,None
3,3,18948580,xxx,0.0,3,1,None,42,None,3,18948580,xxx,0.0,3,1,None,42,None
4,4,4347535,xxx,0.0,1,1,None,400,None,4,4347535,xxx,0.0,1,1,None,400,None
5,5,6750199,4,5.0,2,1,None,145,None,5,6750199,4,5.0,2,1,None,145,None
6,6,11461771,8,4.0,14,1,None,138,None,6,11461771,8,4.0,14,1,None,138,None
7,7,259622,125,4.5,4,1,None,90,None,7,259622,125,4.5,4,1,None,90,None
8,8,785901,78,4.5,4,1,None,90,None,8,785901,78,4.5,4,1,None,90,None
9,9,786506,83,NaN,4,1,None,90,None,9,786506,83,NaN,4,1,None,90,None
10,10,7343277,47,5.0,4,1,None,95,None,10,7343277,47,5.0,4,1,None,95,None
11,11,7067087,59,NaN,4,1,None,90,None,11,7067087,59,NaN,4,1,None,90,None
12,12,7067681,83,4.5,4,1,None,90,None,12,7067681,83,4.5,4,1,None,90,None
13,13,4902365,87,4.5,4,1,None,90,None,13,4902365,87,4.5,4,1,None,90,None
14,14,12857222,26,4.5,4,1,None,90,None,14,12857222,26,4.5,4,1,None,90,None
15,15,4518031,None,4.5,4,1,None,90,None,15,4518031,None,4.5,4,1,None,90,None
16,16,1711403,None,5.0,4,1,None,95,None,16,1711403,None,5.0,4,1,None,95,None
17,17,4519757,129,4.5,4,1,None,90,None,17,4519757,129,4.5,4,1,None,90,None
18,18,2846662,1,0.0,3,1,None,250,None,18,2846662,1,0.0,3,1,None,250,None
19,19,7528301,1,0.0,1,1,None,250,None,19,7528301,1,0.0,1,1,None,250,None
20,20,14500176,1,NaN,2,1,None,300,None,20,14500176,1,NaN,2,1,None,300,None
21,21,10747952,xxx,0.0,2,1,None,200,None,21,10747952,xxx,0.0,2,1,None,200,None
22,22,11080673,xxx,0.0,2,1,None,200,None,22,11080673,xxx,0.0,2,1,None,200,None
23,23,13558325,xxx,0.0,2,1,None,200,None,23,13558325,xxx,0.0,2,1,None,200,None
24,24,6557381,xxx,0.0,2,1,None,150,None,24,6557381,xxx,0.0,2,1,None,150,None
25,25,8404771,xxx,0.0,1,1,None,150,None,25,8404771,xxx,0.0,1,1,None,150,None
26,26,18961274,xxx,0.0,1,1,None,150,None,26,18961274,xxx,0.0,1,1,None,150,None
27,27,15605179,xxx,0.0,1,1,None,150,None,27,15605179,xxx,0.0,1,1,None,150,None
28,28,3821508,16,5.0,3,1,None,159,None,28,3821508,16,5.0,3,1,None,159,None
29,29,4170452,1,0.0,1,1,None,150,None,29,4170452,1,0.0,1,1,None,150,None
30,30,4081570,xxx,0.0,1,1,None,175,None,30,4081570,xxx,0.0,1,1,None,175,None
31,31,10839934,xxx,0.0,2,1,None,160,None,31,10839934,xxx,0.0,2,1,None,160,None
32,32,9375363,4,4.0,5,1,None,169,None,32,9375363,4,4.0,5,1,None,169,None
33,33,8306266,14,5.0,1,1,None,155,None,33,8306266,14,5.0,1,1,None,155,None
34,34,12433576,4,5.0,2,1,None,139,None,34,12433576,4,5.0,2,1,None,139,None
35,35,6910758,186,5.0,2,1,None,130,None,35,6910758,186,5.0,2,1,None,130,None
36,36,815711,3,5.0,1,1,None,100,None,36,815711,3,5.0,1,1,None,100,None
37,37,9529057,xxx,0.0,1,1,None,105,None,37,9529057,xxx,0.0,1,1,None,105,None
38,38,7419076,xxx,0.0,1,1,None,120,None,38,7419076,xxx,0.0,1,1,None,120,None
39,39,18794629,3,5.0,3,1,None,115,None,39,18794629,3,5.0,3,1,None,115,None

In [54]:
#Right Join

In [55]:
right_join = pd.read_sql("""SELECT * FROM information AS i
                            LEFT JOIN reviews AS r
                            ON r.room_id = i.room_id""", con)
right_join.head(10)

,index,room_id,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,index,room_id,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay
0,0,4897143,93,4.5,4,1,None,147,None,0,4897143,93,4.5,4,1,None,147,None
1,1,4670847,115,4.5,4,1,None,137,None,1,4670847,115,4.5,4,1,None,137,None
2,2,13636171,xxx,0.0,2,1,None,41,None,2,13636171,xxx,0.0,2,1,None,41,None
3,3,18948580,xxx,0.0,3,1,None,42,None,3,18948580,xxx,0.0,3,1,None,42,None
4,4,4347535,xxx,0.0,1,1,None,400,None,4,4347535,xxx,0.0,1,1,None,400,None
5,5,6750199,4,5.0,2,1,None,145,None,5,6750199,4,5.0,2,1,None,145,None
6,6,11461771,8,4.0,14,1,None,138,None,6,11461771,8,4.0,14,1,None,138,None
7,7,259622,125,4.5,4,1,None,90,None,7,259622,125,4.5,4,1,None,90,None
8,8,785901,78,4.5,4,1,None,90,None,8,785901,78,4.5,4,1,None,90,None
9,9,786506,83,NaN,4,1,None,90,None,9,786506,83,NaN,4,1,None,90,None