## Notebook For SQL Next Steps Workshop Sp20

In [ ]:
import sqlite3
conn = sqlite3.connect('chinook.db')

## Review

### Select, From, Where <a name=""></a>

In [130]:
#Demo
print(pd.read_sql_query("SELECT CustomerId FROM customers WHERE FirstName = 'Tim'", conn))

   CustomerId
0          19

In [63]:
#demo
print(pd.read_sql_query("SELECT FirstName, LastName FROM customers WHERE State = 'CA'", conn))

  FirstName LastName
0     Frank   Harris
1       Tim    Goyer
2       Dan   Miller

In [69]:
#try it yourself! 
#Select customer id from customers table for customers that live in Prague
print(pd.read_sql_query(..., conn))

   CustomerId  FirstName     LastName
0           5  František  Wichterlová
1           6     Helena         Holý

### Group By, Having <a name=""></a>

In [131]:
#demo
print(pd.read_sql_query("SELECT Country, count(*) FROM customers GROUP BY Country", conn))

           Country  count(*)
0        Argentina         1
1        Australia         1
2          Austria         1
3          Belgium         1
4           Brazil         5
5           Canada         8
6            Chile         1
7   Czech Republic         2
8          Denmark         1
9          Finland         1
10          France         5
11         Germany         4
12         Hungary         1
13           India         2
14         Ireland         1
15           Italy         1
16     Netherlands         1
17          Norway         1
18          Poland         1
19        Portugal         2
20           Spain         1
21          Sweden         1
22             USA        13
23  United Kingdom         3

In [ ]:
#try it yourself! 
#Select countries where there are more than 3 customers from that country
print(pd.read_sql_query(..., conn))

### Order By, Limit <a name=""></a>

In [132]:
#Demo 
print(pd.read_sql_query("SELECT FirstName, LastName FROM customers ORDER BY FirstName ASC LIMIT 10", conn))

   FirstName   LastName
0      Aaron   Mitchell
1  Alexandre      Rocha
2     Astrid     Gruber
3      Bjørn     Hansen
4    Camille    Bernard
5       Daan    Peeters
6        Dan     Miller
7      Diego  Gutiérrez
8  Dominique   Lefebvre
9    Eduardo    Martins

## Subqueries

## Joins <a name=""></a>

## Inner Join <a name=""></a>

In [133]:
#Demo 
print(pd.read_sql("""SELECT *FROM invoices AS i INNER JOIN customers AS c ON i.CustomerId = c.CustomerId LIMIT 5""", conn))

   InvoiceId  CustomerId          InvoiceDate  \
0         98           1  2010-03-11 00:00:00
1        121           1  2010-06-13 00:00:00
2        143           1  2010-09-15 00:00:00
3        195           1  2011-05-06 00:00:00
4        316           1  2012-10-27 00:00:00

                    BillingAddress          BillingCity BillingState  \
0  Av. Brigadeiro Faria Lima, 2170  São José dos Campos           SP
1  Av. Brigadeiro Faria Lima, 2170  São José dos Campos           SP
2  Av. Brigadeiro Faria Lima, 2170  São José dos Campos           SP
3  Av. Brigadeiro Faria Lima, 2170  São José dos Campos           SP
4  Av. Brigadeiro Faria Lima, 2170  São José dos Campos           SP

  BillingCountry BillingPostalCode  Total  CustomerId  ...  \
0         Brazil         12227-000   3.98           1  ...
1         Brazil         12227-000   3.96           1  ...
2         Brazil         12227-000   5.94           1  ...
3         Brazil         12227-000   0.99           1  ...
4         Brazil         12227-000   1.98           1  ...

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1  Embraer - Empresa Brasileira de Aeronáutica S.A.
2  Embraer - Empresa Brasileira de Aeronáutica S.A.
3  Embraer - Empresa Brasileira de Aeronáutica S.A.
4  Embraer - Empresa Brasileira de Aeronáutica S.A.

                           Address                 City State Country  \
0  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
1  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
2  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
3  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
4  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil

  PostalCode               Phone                 Fax                 Email  \
0  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566  luisg@embraer.com.br
1  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566  luisg@embraer.com.br
2  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566  luisg@embraer.com.br
3  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566  luisg@embraer.com.br
4  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566  luisg@embraer.com.br

  SupportRepId
0            3
1            3
2            3
3            3
4            3

[5 rows x 22 columns]

In [127]:
#try it yourself!
#Join invoice and invoice items based on invoiceid
print(pd.read_sql_query(..., conn))

## Inner Join <a name=""></a>

In [124]:

print(pd.read_sql("""SELECT *FROM invoices AS i LEFT JOIN customers AS c ON i.CustomerId = c.CustomerId LIMIT 10""", conn))

   InvoiceId  CustomerId          InvoiceDate           BillingAddress  \
0          1           2  2009-01-01 00:00:00  Theodor-Heuss-Straße 34
1          2           4  2009-01-02 00:00:00         Ullevålsveien 14
2          3           8  2009-01-03 00:00:00          Grétrystraat 63
3          4          14  2009-01-06 00:00:00           8210 111 ST NW
4          5          23  2009-01-11 00:00:00          69 Salem Street
5          6          37  2009-01-19 00:00:00         Berger Straße 10
6          7          38  2009-02-01 00:00:00      Barbarossastraße 19
7          8          40  2009-02-01 00:00:00           8, Rue Hanovre
8          9          42  2009-02-02 00:00:00   9, Place Louis Barthou
9         10          46  2009-02-03 00:00:00         3 Chatham Street

  BillingCity BillingState BillingCountry BillingPostalCode  Total  \
0   Stuttgart         None        Germany             70174   1.98
1        Oslo         None         Norway              0171   3.96
2    Brussels         None        Belgium              1000   5.94
3    Edmonton           AB         Canada           T6G 2C7   8.91
4      Boston           MA            USA              2113  13.86
5   Frankfurt         None        Germany             60316   0.99
6      Berlin         None        Germany             10779   1.98
7       Paris         None         France             75002   1.98
8    Bordeaux         None         France             33000   3.96
9      Dublin       Dublin        Ireland              None   5.94

   CustomerId  ... Company                  Address       City   State  \
0           2  ...    None  Theodor-Heuss-Straße 34  Stuttgart    None
1           4  ...    None         Ullevålsveien 14       Oslo    None
2           8  ...    None          Grétrystraat 63   Brussels    None
3          14  ...   Telus           8210 111 ST NW   Edmonton      AB
4          23  ...    None          69 Salem Street     Boston      MA
5          37  ...    None         Berger Straße 10  Frankfurt    None
6          38  ...    None      Barbarossastraße 19     Berlin    None
7          40  ...    None           8, Rue Hanovre      Paris    None
8          42  ...    None   9, Place Louis Barthou   Bordeaux    None
9          46  ...    None         3 Chatham Street     Dublin  Dublin

   Country PostalCode               Phone                Fax  \
0  Germany      70174    +49 0711 2842222               None
1   Norway       0171     +47 22 44 22 22               None
2  Belgium       1000    +32 02 219 03 03               None
3   Canada    T6G 2C7   +1 (780) 434-4554  +1 (780) 434-5565
4      USA       2113   +1 (617) 522-1333               None
5  Germany      60316    +49 069 40598889               None
6  Germany      10779     +49 030 2141444               None
7   France      75002  +33 01 47 42 71 71               None
8   France      33000  +33 05 56 96 96 96               None
9  Ireland       None     +353 01 6792424               None

                         Email SupportRepId
0        leonekohler@surfeu.de            5
1        bjorn.hansen@yahoo.no            4
2        daan_peeters@apple.be            4
3           mphilips12@shaw.ca            5
4       johngordon22@yahoo.com            4
5         fzimmermann@yahoo.de            3
6          nschroder@surfeu.de            3
7  dominiquelefebvre@gmail.com            4
8        wyatt.girard@yahoo.fr            3
9         hughoreilly@apple.ie            3

[10 rows x 22 columns]

## Cases

In [134]:
#Demo 
print(pd.read_sql_query("SELECT CASE WHEN state IS NOT NULL THEN 'yes' END AS 'has_state', count(*) AS total FROM Customers", conn))

  has_state  total
0       yes     59