## Notebook For SQL Next Steps Workshop Sp20

In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('chinook.db')

## Review

### Select, From, Where <a name=""></a>

In [ ]:
#Demo
#How to output a table
print(pd.read_sql_query("SELECT * FROM customers", conn))

In [ ]:
#Demo
print(pd.read_sql_query("SELECT CustomerId FROM customers WHERE FirstName = 'Tim'", conn))

In [ ]:
#demo
print(pd.read_sql_query("SELECT FirstName, LastName FROM customers WHERE State = 'CA'", conn))

In [ ]:
#try it yourself! 
#Select customer id from customers table for customers that live in Prague
print(pd.read_sql_query(..., conn))

### Group By, Having <a name=""></a>

In [ ]:
#demo
print(pd.read_sql_query("SELECT Country, count(*) FROM customers GROUP BY Country", conn))

In [ ]:
#try it yourself! 
#Select countries where there are more than 3 customers from that country
print(pd.read_sql_query(..., conn))

### Order By, Limit <a name=""></a>

In [ ]:
#Demo 
print(pd.read_sql_query("SELECT FirstName, LastName FROM customers ORDER BY FirstName ASC LIMIT 10", conn))

In [ ]:
print(pd.read_sql_query("SELECT * FROM customers", conn))

## Subqueries

In [ ]:
#Demo
#I want to find all the individuals with a Customer Id below 10.
print(pd.read_sql_query("SELECT * FROM customers WHERE CustomerId IN (SELECT CustomerId FROM customers WHERE CustomerId < 10)", conn))

In [ ]:
#try it yourself!
#Find all of the employees whose Title is a Sales Support Agent!
print(pd.read_sql_query(..., conn))

## Joins <a name=""></a>

## Inner Join <a name=""></a>

In [ ]:
#Demo 
print(pd.read_sql("""SELECT * 
FROM invoices AS i 
INNER JOIN customers AS c 
ON i.CustomerId = c.CustomerId LIMIT 5""", conn))

In [ ]:
#try it yourself!
#Join invoice and invoice items based on invoiceid
print(pd.read_sql_query(..., conn))

## Inner Join <a name=""></a>

In [ ]:
print(pd.read_sql("""SELECT *FROM invoices AS i LEFT JOIN customers AS c ON i.CustomerId = c.CustomerId LIMIT 10""", conn))

## Left Join

In [ ]:
#Demo
print(pd.read_sql("SELECT * FROM playlist_track", conn))

In [ ]:
#Demo 
print(pd.read_sql("""SELECT * 
FROM playlists AS p1 
INNER JOIN playlist_track AS p2
ON p1.PlaylistId = p2.PlaylistId LIMIT 50""", conn))

In [ ]:
#try it yourself!
#Join playlist_track and tracks in a left join based on TrackId!
print(pd.read_sql(..., conn))

## Cases

In [ ]:
#Demo 
print(pd.read_sql_query("SELECT CASE WHEN state IS NOT NULL THEN 'yes' END AS 'has_state', count(*) AS total FROM Customers", conn))