In [1]:
#notebook for Sp20 Haas SQL next steps

In [11]:
import numpy as np
import pandas as pd
import sqlite3

In [6]:
import matplotlib.pyplot as plt
import plotly.offline as py
import zipfile
from pathlib import Path

Path.cwd()

PosixPath('/home/jovyan')

In [9]:
#SAT data 
school_scores = pd.read_csv('school_scores.csv')
school_scores.head(10)

,Year,State.Code,State.Name,Total.Math,Total.Test-takers,Total.Verbal,Academic Subjects.Arts/Music.Average GPA,Academic Subjects.Arts/Music.Average Years,Academic Subjects.English.Average GPA,Academic Subjects.English.Average Years,...,Score Ranges.Between 600 to 700.Math.Total,Score Ranges.Between 600 to 700.Verbal.Females,Score Ranges.Between 600 to 700.Verbal.Males,Score Ranges.Between 600 to 700.Verbal.Total,Score Ranges.Between 700 to 800.Math.Females,Score Ranges.Between 700 to 800.Math.Males,Score Ranges.Between 700 to 800.Math.Total,Score Ranges.Between 700 to 800.Verbal.Females,Score Ranges.Between 700 to 800.Verbal.Males,Score Ranges.Between 700 to 800.Verbal.Total
0,2005,AL,Alabama,559,3985,567,3.92,2.2,3.53,3.9,...,1096,596,613,1209,156,292,448,219,250,469
1,2005,AK,Alaska,519,3996,523,3.76,1.9,3.35,3.9,...,787,423,375,798,47,116,163,109,115,224
2,2005,AZ,Arizona,530,18184,526,3.85,2.1,3.45,3.9,...,3814,1831,1679,3510,327,630,957,412,501,913
3,2005,AR,Arkansas,552,1600,563,3.90,2.2,3.61,4.0,...,443,242,226,468,49,83,132,77,93,170
4,2005,CA,California,522,186552,504,3.76,1.8,3.32,3.8,...,37605,16078,14966,31044,5451,8792,14243,5011,4766,9777
5,2005,CO,Colorado,560,11990,560,3.88,2.2,3.49,4.0,...,3483,1708,1610,3318,382,677,1059,531,474,1005
6,2005,CT,Connecticut,517,34313,517,3.66,2.1,3.13,3.9,...,6822,3306,3215,6521,826,1475,2301,946,1063,2009
7,2005,DE,Delaware,502,6257,503,3.71,1.8,3.21,3.9,...,1010,523,473,996,109,194,303,146,161,307
8,2005,DC,District Of Columbia,478,3622,490,3.54,1.8,3.03,3.8,...,609,280,349,629,137,242,379,218,216,434
9,2005,FL,Florida,498,93505,498,3.77,1.8,3.29,3.8,...,14195,7145,6671,13816,1147,2328,3475,1571,1694,3265

In [15]:
#Select, From, Where

'SELECT State.Code FROM school_scores WHERE Total.Verbal > 500'

In [14]:
#Group by, Having

In [15]:
#Order by, Limit

In [17]:
#Joins
#Importing new dataset 
state_demographics = pd.read_csv('state_demographics.csv')
state_demographics.head(10)

,State,Age.Percent 65 and Older,Age.Percent Under 18 Years,Age.Percent Under 5 Years,Education.Bachelor's Degree or Higher,Education.High School or Higher,Employment.Nonemployer Establishments,Employment.Private Non-farm Employment,Employment.Private Non-farm Employment Percent Change,Employment.Private Non-farm Establishments,...,Sales.Merchant Wholesaler Sales,Sales.Retail Sales,Sales.Retail Sales per Capita,Employment.Firms.American Indian-Owned,Employment.Firms.Asian-Owned,Employment.Firms.Black-Owned,Employment.Firms.Hispanic-Owned,Employment.Firms.Native Hawaiian and Other Pacific Islander-Owned,Employment.Firms.Total,Employment.Firms.Women-Owned
0,United States,14.5,23.1,6.2,28.8,86.0,23005620,118266253,2.0,7488353,...,41742865,39176634,12990,0.9,5.7,7.1,8.3,0.1,27092908,28.8
1,Alabama,15.3,22.8,6.1,22.6,83.1,311578,1603100,1.1,97578,...,522527,573448,12364,0.8,1.8,14.8,1.2,0.1,382350,28.1
2,Alaska,9.4,25.3,7.4,27.5,91.6,52991,266627,3.3,20519,...,45636,93033,13635,10.0,3.1,1.5,0.0,0.3,68728,25.9
3,Arizona,15.9,24.1,6.4,26.9,85.7,420233,2173205,1.8,132762,...,575734,867588,13637,1.9,3.3,2.0,10.7,0.0,491529,28.1
4,Arkansas,15.7,23.8,6.5,20.1,83.7,191530,978094,0.0,64772,...,296597,329742,11602,1.1,1.4,5.5,2.3,0.1,238994,24.5
5,California,12.9,23.6,6.5,30.7,81.2,2983996,13401863,3.5,874243,...,5984564,4550322,12561,1.3,14.9,4.0,16.5,0.3,3425510,30.3
6,Colorado,12.7,23.3,6.3,37.0,90.2,447586,2090975,2.7,154875,...,535989,658967,13609,0.8,2.6,1.7,6.2,0.1,547770,29.2
7,Connecticut,15.5,21.6,5.3,36.5,89.2,263511,1473605,0.7,88498,...,1079170,521654,14953,0.5,3.3,4.4,4.2,0.0,332150,28.1
8,Delaware,16.4,21.8,6.0,28.9,87.7,56861,382128,5.1,24151,...,57274,142020,16421,0.0,4.0,8.7,2.1,0.0,74573,26.1
9,District Of Columbia,11.3,17.5,6.5,52.4,88.4,52262,491130,1.7,21919,...,21179,38437,6555,0.9,5.9,28.2,6.1,0.0,55887,34.5

In [ ]:
#Cases